<!DOCTYPE html>
<html lang="en" ng-app="skunkworks">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Breakthrough Dressage</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#home">Breakthrough Dressage</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#ourstory">Our Story</a>
                    </li>
                    <li>
                        <a href="#sales">Horses For Sale</a>
                    </li>
                    <li>
                        <a href="#training">Training</a>
                    </li>
                    <li>
                        <a href="#barn">Bronze Mare Farm</a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/pages/Breakthrough-Dressage/207560039261313" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/breakthroughdressage"><i class="fa fa-youtube fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="mailto:jessielmyers@yahoo.com"><i class="fa fa-envelope fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Breakthrough Dressage</h1>
                        <h3>Kind, Correct and Effective Training and Lessons for Horses and Riders of All Levels and Abilities</h3>

                        <div class="col-lg-12 ">
                            <hr class="small">
                            <div class="row">

                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                             <i class="fa fa-circle fa-stack-2x"></i>
                                             <i class="fa fa-book fa-stack-1x text-primary"></i>
                                         </span>
                                        <h4><strong>Our Story</strong></h4>
                                        <p>Comprehensive, Michigan based dressage training program</p>
                                        <a href="#ourstory" class="btn btn-primary">Learn More</a>
                                    </div>

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-money fa-stack-1x text-primary"></i>
                                
                                         </span>
                                        <h4> <strong>Horses For Sale</strong> </h4>
                                        <p>Dressage horses available at varying levels</p>
                                        <a href="#sales" class="btn btn-primary">Learn More</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                             <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4> <strong>Training</strong></h4>
                                        <p>Board and Training Packages, Clinics and Grooming</p>
                                        <a href="#training" class="btn btn-primary">Learn More</a>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-building fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4> <strong>Bronze Mare Farm </strong></h4>
                                        <p>Beautiful 90-acre facility in south eastern Michigan</p>
                                        <a href="#barn" class="btn btn-primary">Learn More</a>
                                    </div>
                                </div>

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a name="ourstory"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Story</h2>
                    <p class="lead">The goal of Breakthrough Dressage is to provide Kind, Correct and Effective Training and Lessons for Horses and Riders of All Levels and Abilities.
                        <p class="lead">The heart of our program is USDF Bronze & Silver Medalist Jessie Myers. Jessie is the exclusive trainer for Bronze Mare Farm, a beautiful 90-acre facility in south eastern Michigan, just southwest of Ann Arbor. Jessie has been training horses and riders since 1999.

                            <p class="lead">She believes that dressage is a training method with proven benefits for any horse and rider combination. Jessie is a proven and patient teacher who believes learning takes place only when horse and rider are happy and confident. She applies a systematic approach to dressage training based on the German training pyramid that prioritizes establishing rhythm, suppleness, contact, impulsion, straightness and collection, in that order.

                                <p class="lead">Whether your desire is to compete successfully in recognized USDF shows or simply to grow in partnership with your horse, Jessie can design a program to help you reach your goals. </p>
                </div>
                <div class="col-lg-4 col-sm-5">
                    <img class="img-responsive" src="http://www.breakthroughdressage.com/images/frontpage.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a name="sales"></a>
    <div class="content-section-b" ng-controller="HorsesForSaleController as sale">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-push-6 col-sm-4">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Horses For Sale</h2>
                </div>

                <div ng-repeat="horse in sale.salehorses" style="clear:both;padding-top:10px;">

                    <hr style="border: 1px dashed #000;">
                    <div ng-class="horse.media ? 'col-lg-6' : 'col-lg-12 ' " >
                        <h3>{{horse.name}}  -  <small>{{horse.price}}</small></h3>
                        <p class="lead">
                            {{horse.description}}
                        </p>
                    </div>


                    <div class="col-lg-3" ng-repeat=" artifact in horse.media" hg-show="horse.media"=>
                        <a href="{{artifact.sourceUrl}}" target="_blank">
                            <img ng-src="{{artifact.sourceUrl}}" class="img-thumbnail">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- /.content-section-b -->
    <a name="training"></a>
    <div class="content-section-c ">

        <div class="container">

            <div class="row ">

                <hr class="section-heading-spacer ">
                <div class="clearfix "></div>
                <h2 class="section-heading ">Training and Services</h2>

                <div class="col-lg-4 col-sm-3 ">

                    <div class="panel panel-default ">

                        <div class="panel-heading ">
                            <h3 class="panel-title ">Front Barn at Bronze Mare Farm</h3>
                        </div>
                        <div class="panel-body">
                            <p>Partial Training - $1125/month <span class="text-muted">(12 sessions)</span> </p>
                            <p>Full Training I - $1275/month <span class="text-muted">(16 sessions)</span> </p>
                            <p>Full Training II - $1425/month <span class="text-muted">(20 sessions)</span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-3 ">

                    <div class="panel panel-default ">

                        <div class="panel-heading bg-primary">
                            <h3 class="panel-title ">Back Barn at Bronze Mare Farm</h3>
                        </div>
                        <div class="panel-body ">
                            <p>Partial Training - $1075/month <span class="text-muted">(12 sessions)</span> </p>
                            <p>Full Training I - $1275/month <span class="text-muted">(16 lsessions)</span> </p>
                            <p>Full Training II - $1325/month <span class="text-muted">(20 sessions)</span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-3 ">

                    <div class="panel panel-default ">

                        <div class="panel-heading bg-primary">
                            <h3 class="panel-title ">Additional Training</h3>
                        </div>
                        <div class="panel-body ">
                            <p>Trailer In Lessons - $50 / 45 minute lesson <span class="text-muted">(12 sessions</span> </p>
                            <p>School Horse Lessons - $50 / 45 minute lesson <span class="text-muted">(16 sessions)</span> </p>

                        </div>
                    </div>
                </div>

                <div class="clearfix "></div>

                <div class="col-lg-4 col-sm-3 ">

                    <div class="panel panel-default ">

                        <div class="panel-heading bg-primary">
                            <h3 class="panel-title ">Clinics and off-site lessons</h3>
                        </div>
                        <div class="panel-body ">
                            <p>Rates range from $60 to $100 per horse per session, depending upon travel distance and the number of horses/riders.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-3 ">

                    <div class="panel panel-default ">

                        <div class="panel-heading ">
                            <h3 class="panel-title ">Professional grooming services</h3>
                        </div>
                        <div class="panel-body ">
                            <p>Mane pulling - $20 </p>
                            <p>Braiding - $30 </p>
                            <p>Basic clipping for show - $30 </p>
                            <p>Body clipping - $75 to $125 </p>
                            <p>Full bathing and grooming in addition to that required for training - $10 </p>
                            <p>Worming - $20 </p>
                            <p>Horse Hauling - $2.50 per loaded mile for clients; $3.00 per loaded mile for non-clients</p>

                        </div>
                    </div>
                </div>

            </div>




        </div>
        <!-- /.container -->

    </div>

    <a name="horses"></a>
    <div class="content-section-d" ng-controller="HorsesInTrainingController as training">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-push-6 col-sm-4">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Horses In Training</h2>
                </div>
                <div class="clearfix"></div>
                <div ng-repeat="horse in training.horsesInTraining">
                    <div class="col-lg-6">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="holder.js/100x100/text:horse picture" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{horse.name}}</h4>
                                <div class="lead">
                                    {{horse.description}}
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

    <a name="barn"></a>
    <div class="content-section-e ">

        <div class="container ">

            <div class="row ">
                <div class="col-lg-6 col-lg-offset-3 col-sm-push-6 col-sm-4 ">
                    <hr class="section-heading-spacer ">
                    <div class="clearfix "></div>
                    <h2 class="section-heading ">Bronze Mare Farm </h2>
                </div>
                <div class="col-lg-12">
                    <p class="lead">
                        Bronze Mare farm is a beautiful facility located on 90 acres in Saline Township. We offer quality, full service boarding and training packages for you and your dressage partner.
                    </p>
                    <div class=" col-lg-6">
                            <h4 class="media-heading">The main barn features</h4>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>12X12 stalls with dutch doors overlooking pastures.</li>
                                <li><i class="fa-li fa fa-check-square"></i>Heated tack room and restroom facilities.</li>
                                <li><i class="fa-li fa fa-check-square"></i>Bright, spacious wash rack.</li>
                                <li><i class="fa-li fa fa-check-square"></i>Up to four feedings per day</li>
                            </ul>
                    </div>
                    <div class=" col-lg-6">
                            <h4 class="media-heading">The arena features</h4>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>Well insulated indoor with 80 feet of mirrors.</li>
                                <li><i class="fa-li fa fa-check-square"></i>Excellent footing.</li>
                                <li><i class="fa-li fa fa-check-square"></i>New regulation size outdoor arena</li>
                            </ul>
                    </div>

                    <div id="myCarousel" class="carousel slide col-lg-8 col-lg-offset-2 " data-ride="carousel" >
                                            <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>

                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/64378_965860710097905_2574718598106907479_n.jpg?oh=a517e16363abfdab561469f926e411cc&oe=5590C9E9" alt="Chania">
                            </div>

                        
                            <div class="item">
                                <img src="http://www.breakthroughdressage.com/images/BM_Field_1.jpg" alt="Chania">
                            </div>

                            <div class="item">
                                <img src="http://www.breakthroughdressage.com/oldsite/Quickstart/ImageLib/P1010307.JPG" alt="Chania">
                            </div>

                            <div class="item">
                                <img src="http://www.breakthroughdressage.com/oldsite/Quickstart/ImageLib/P1010308.JPG" alt="Flower">
                            </div>

                            <div class="item">
                                <img src="http://www.breakthroughdressage.com/images/BM_barn.jpg" alt="Flower">
                            </div>

                            <div class="item">
                                <img src="http://www.breakthroughdressage.com/images/BM_Indoor.jpg" alt="Flower">
                            </div>

                            
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <ul class="list-inline ">
                        <li>
                            <a href="# ">Breakthrough Dressage</a>
                        </li>
                        <li class="footer-menu-divider ">&sdot;</li>
                        <li>
                            <a href="#ourstory">Our Story</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#sales">Horses For Sale</a>
                        </li>
                        <li class="footer-menu-divider ">&sdot;</li>
                        <li>
                            <a href="#training">Training</a>
                        </li>
                        <li class="footer-menu-divider ">&sdot;</li>
                        <li>
                            <a href="#bran">Bronze Mare Farm</a>
                        </li>
                    </ul>
                  
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.5.2/holder.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    (function() {
        var app = angular.module('skunkworks', []);

        app.controller('HorsesForSaleController', function() {
            this.salehorses = forsale;
        });

        var forsale = [{
            name: "Lady's Man (Louis)",
            price: "$18,000",
            description: "Lou is an elastic and free moving Holsteiner gelding by Lintas out of an imported Holsteiner mare. He is currently schooling second level. Exceptional work ethic and talented hind leg. Lou is a gentleman in the barn, extremely sound and has great feet, has never needed shoes. Sweet and personable demeanor. Lou is ready to move up the levels with an ambitious amateur or pro.",
            media: [{
                sourceType: "image",
                sourceUrl: "http://www.breakthroughdressage.com/images/lady.jpg"
            }, {
                sourceType: "image",
                sourceUrl: "http://www.breakthroughdressage.com/images/lady.jpg"
            }]
        }, {
            name: "Sangria",
            price: "$25,000",
            description: "Talented enough for a pro, with temperament suitable for an amateur. Sangria is the whole package! Sensitive and fun to ride with a great sensibility. Excellent talent for lateral work. Has been shown training and first level with scores in the upper 60s- low 70s. Great ground manners, loads and trailers well, has also been hacked out in the fields.",
            media: [{
                sourceType: "image",
                sourceUrl: "http://www.breakthroughdressage.com/images/sangria.jpg"
            }, {
                sourceType: "image",
                sourceUrl: "http://www.breakthroughdressage.com/images/sangriacanter.jpg"
            }]
        }, {
            name: "Shadow",
            price: "$6,500",
            description: "Shadow is an expressive, free moving 11 year old thoroughbred gelding. He is well mannered and easy to get along with. Expressive trot, uphill canter and willing attitude. Schooling first level dressage, green but willing over fences. Shadow loads, clips, bathes and stands quietly for the vet and farrier. No health or soundness problems.",
        }, {
            name: "Stella Blue",
            price: "$7,500",
            description: "TStella Blue by Wradar is an elegant 11 year old double registered ISR and AWR solid bay mare. She stands 16.1 hands, has outstanding blood lines, and beautiful gaits. She is naturally rhythmical and is an honest willing jumper. She would be ideal for an upper level pony club/hunter/event/dressage prospect. She has been shown in 2013 in training level dressage and schools 2 foot courses consistently but is ready and fully capable to advance. Due to owners hectic schedule, she was able to fully mature before being started which resulted in clean dry legs but a later start. Stella is excellent on the lunge line and line drives easily. She has had a solid foundation and now needs an active rider ready to move her up the ranks. Currently in dressage training. She foaled a gorgeous first premium AWR colt in 2012 and was a wonderful brood mare.",
        }, {
            name: "BD Codenzo",
            price: " $6,500",
            description: "Talent in a small package! Cody is an 11 year old 14 hand American Warmblood Sport Pony gelding. Shown western and hunt seat. Now showing Dressage Training Level and schooling First Level. 3 nice gaits with talent for extension. Excellent ground manners.",
            media: [{
                sourceType: "image",
                sourceUrl: "http://www.breakthroughdressage.com/images/sangria.jpg"
            }, {
                sourceType: "image",
                sourceUrl: "http://www.breakthroughdressage.com/images/sangriacanter.jpg"
            }]
        }];

        app.controller('HorsesInTrainingController', function() {
            this.horsesInTraining = training;
        });

        var training = [{
                name: "Cairo",
                description: "Cairo is an 13 year old 17.0 hand Danish Warmblood gelding owned by Sharon Smith. He has shown through Intermediare I and is starting the Grand Prix work. Cairo is being leased and shown by Yr Johannsdottir. Last year Yr was able to earn her USDF Bronze medal on this wonderful schoolmaster. Cairo and Yr were Region 2 Reserve Champions at 3rd level last year with a score of 67% and placed 4th at Regionals in 4th level with a 65%. They were also Midwest Dressage Association adult amateur year end champions at 3rd and 4th level in 2011. This year she is showing him Prix St. Georges and hoping to earn her USDF Silver Medal.",
                media: [{
                    sourceType: "image",
                    sourceUrl: "http://www.breakthroughdressage.com/images/cairo.jpg"
                }]
            }, {
                name: "My Lucky Copper Penny",
                description: "My Lucky Copper Penny is a 19 year old, 13.2 hand pony gelding owned by Alexandra Hollenstine.  This talented pair competed successfully at Training level in 2011, winning MDA Reserve Champion Junior. Allie also won the Ransom Memorial Perpetual Trophy for equitation. In 2012 Allie is looking forward to showing this talented pony 1st level.",
                media: [{
                    sourceType: "image",
                    sourceUrl: "http://www.breakthroughdressage.com/images/copper.png"
                }]
            }, {
                name: "Wradish",
                description: "Wradish is a 6 YO, 18 hand Hungarian Warmblood gelding owned by Karen Farris. In 2011, Jessie and Wradish were highly competitive at Training and First, and they won 2011 Midwest Dressage Association Training and First Level Champion.Jessie is showing him Second level in 2012, and he received a score of 66% in his first second level test in Batavia, OH. We look forward to the future with this talented gelding.",
                media: [{
                    sourceType: "image",
                    sourceUrl: "http://www.breakthroughdressage.com/images/wrad.png"
                }]
            }, {
                name: "Stella Blue",
                description: "Zamara or \"Zoe\" is a 16.1 hand, 8 year old Desert Norman Mare owned by Bonnie Gorichan. This cross-discipline pair look forward to showing Training level dressage and Beginner Novice eventing this year.",
            }, {
                name: "Taj",
                description: "Ek Taj Mahal or \"Taj\" is an 8 year old Belgian Warmblood gelding owned by Michelle Davidge. In 2011, Michelle and Taj enjoyed their first show season together. Taj finished the season as the Reserve Champion Open division and Champion Amateur division in the Belgian Warmblood All-Breed Awards. They were also MDA Champions at Training level earning the Vi Hopkins Memorial Award for the highest scoring amateur competing at Training level.Michelle looks forward to showing this wonderful horse at 1st level in the upcoming season."
            }, {
                name: "Danny",
                description: "Breaking Daylight or \"Danny\" is a wonderful chestnut Thoroughbred gelding owned by Grace Tsangaris. Grace and Danny recently made theirrecognized show debut at Majestic Farm. The pair earned their first qualifying score for 2012 regionals, congratulation Grace! This talented junior also competes at Novice level eventing."
            }

        ];
    })();
    </script>
</body>

</html>
